<h3>Thêm thiết bị</h3>

<form action="/admin/resources/new" method="post">
  <div class="form-group">
    <label for="">Tên</label>
    <input class="form-control" type="text" name="name" value="">
  </div>

  <div class="form-group">
    <label for="">Tổ quản lý</label>
    <select class="form-control" name="group" id="">
      <option value="-1">------ Chọn tổ ------</option>
      {{#groups}}
      <option value="{{id}}">{{name}}</option>
      {{/groups}}
    </select>
  </div>
  <a href="/admin/resources">Quay lại</a>
  <button type="submit">Lưu</button>
</form>
