<main class=mdl-layout__content>
    <div class="mdl-layout__tab-panel is-active" id=overview>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white"><i class=material-icons>play_circle_filled</i></header>
            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <div class=mdl-card__supporting-text>
                    <h4>Hướng dẫn sử dụng</h4>Đây là đoạn video hướng dẫn sử dụng Hệ thống quản lý trang thiết bị trường học, giúp người dùng tiếp cận và tìm hiểu hệ thống một cách trực quan và đơn giản nhất.</div>
                <div class=mdl-card__actions><a href=# class=mdl-button>Hướng dẫn chi tiết</a></div>
            </div>
        </section>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                    <h4 class="mdl-cell mdl-cell--12-col">Giới thiệu chi tiết các tính năng</h4>
                    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                        <div class="section__circle-container__circle mdl-color--primary"></div>
                    </div>
                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <h5>Booking system</h5>Giúp thầy cô giáo trong trường đăng ký sử dụng trang thiết bị cực kì nhanh gọn</div>
                    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                        <div class="section__circle-container__circle mdl-color--primary"></div>
                    </div>
                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <h5>Reporting system</h5>Báo cáo thống kê đánh giá hiệu quả của thiết bị thông qua tấn xuất sử dụng</div>
                    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                        <div class="section__circle-container__circle mdl-color--primary"></div>
                    </div>
                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                        <h5>Management system</h5>Đơn giản hoá quản lý, chỉ bằng vài cú click chuột, BGH nhà trường có thể biết được cơ sở vật chất thiết bị đang được sử dụng hay để trống, và nếu được sử dụng, thì giáo viên nào mượn và đang ở lớp học nào.</div>
                </div>
            </div>
        </section>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
                <div class=mdl-card__supporting-text>
                    <h4>Công nghệ</h4>
                    <p>Hệ thống quản lý trang thiết bị trường học được xây dựng ngay từ đầu với tư duy cấp tiến, áp dụng những công nghệ mới nhất trên thị trường như <strong>Progressive Web App, Service Worker</strong>. Hê thống được tối ưu cho web với tốc độ tải trang gần như tức thời. Đặc biệt hơn, hệ thống có thể chạy tốt ngay cả ở môi trường internet băng thông yếu và chậm, chập chờn như đường truyền của chúng ta.
                        <p>Nắm bắt nhu cầu truy cập mọi lúc mọi nơi, Hệ thống quản lý trang thiết bị trường học cho phép thầy cô giáo truy cập và khai thác ngay cả khi thiết bị không kết nối mạng.
                            <p>Hệ thống quản lý trang thiết bị trường học có thể được truy xuất từ những thiết bị có cấu hình yếu, như điện thoại, máy tính bảng, đáp ứng nhu cầu bất cứ khi nào và bất cứ ở đâu.</div>
            </div>
        </section>
    </div>
    <div class=mdl-layout__tab-panel id=features>
        <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col">
                <h4>Tính năng</h4>Trang này đang được xây dựng</div>
        </section>
    </div>
    <div class=mdl-layout__tab-panel id=technology>
        <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col">
                <h4>Công nghệ</h4>Trang này đang được xây dựng</div>
        </section>
    </div>
    <div class=mdl-layout__tab-panel id=faq>
        <section class="section--center mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col">
                <h4>Hỏi và Đáp</h4>Trang này đang được xây dựng</div>
        </section>
    </div>
    <footer class=mdl-mega-footer>
        <div class=mdl-mega-footer--middle-section>
            <div class=mdl-mega-footer--drop-down-section><input class=mdl-mega-footer--heading-checkbox type=checkbox checked>
                <h1 class=mdl-mega-footer--heading>Thông tin</h1>
                <ul class=mdl-mega-footer--link-list>
                    <li><a href=#>Đội ngũ</a>
                        <li><a href=#>Terms</a>
                            <li><a href=#>Partners</a>
                                <li><a href=#>Updates</a></ul>
            </div>
            <div class=mdl-mega-footer--drop-down-section><input class=mdl-mega-footer--heading-checkbox type=checkbox checked>
                <h1 class=mdl-mega-footer--heading>Details</h1>
                <ul class=mdl-mega-footer--link-list>
                    <li><a href=#>Spec</a>
                        <li><a href=#>Tools</a>
                            <li><a href=#>Resources</a></ul>
            </div>
            <div class=mdl-mega-footer--drop-down-section><input class=mdl-mega-footer--heading-checkbox type=checkbox checked>
                <h1 class=mdl-mega-footer--heading>Technology</h1>
                <ul class=mdl-mega-footer--link-list>
                    <li><a href=#>How it works</a>
                        <li><a href=#>Patterns</a>
                            <li><a href=#>Usage</a>
                                <li><a href=#>Products</a>
                                    <li><a href=#>Contracts</a></ul>
            </div>
            <div class=mdl-mega-footer--drop-down-section><input class=mdl-mega-footer--heading-checkbox type=checkbox checked>
                <h1 class=mdl-mega-footer--heading>FAQ</h1>
                <ul class=mdl-mega-footer--link-list>
                    <li><a href=#>Questions</a>
                        <li><a href=#>Answers</a>
                            <li><a href=#>Contact us</a></ul>
            </div>
        </div>
    </footer>
</main>
